@{
    ViewData["Title"] = "Home Page";
}

<div class="row margin-50">
    <div class="col-md-6">
        <form action="/">
            <strong>Size in cm:</strong><br />
            <input type="text" name="size" value="size">
            <br>
            <strong>Weight in kg</strong><br>
            <input type="text" name="weight" value="weight">
            <br /><br />
            <input type="submit" value="Calculate">
        </form> 
    </div>
    <div class="col-md-6">
        <p>Spalte 2</p>
    </div>
</div>
