@using ASP.NetBMI.Models
@model Bmi
@{
    ViewData["Title"] = "BMI Calculator";
}

<div class="row margin-50">
    <div class="col-md-6">
        <form action="/">
            <label asp-for="Height"></label><br />
            <input asp-for="Height" />
            <br>
            <label asp-for="Weight"></label><br>
            <input asp-for="Weight" />
            <br /><br />
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form> 
    </div>
    <div class="col-md-6">
        <div id="result"></div>
    </div>
</div>